@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用レイアウト（レイアウトセット参照）
		ここではレイアウトに関わるスタイルのみ記載し、
		背景色や背景画像、ボーダー、シャドウなどのデザインバリエーションは、
		_pattern.scss内に継承クラスで指定すること
		（例：.wrapper01.style01）
		l-header
		l-header-inner 内側の枠
		l-header-outer　外側の枠

		l-frame > l-container > l-contents > l-box

		l-frame コンテンツ部分の大枠　ページタイトルとコンテンツの区切り
		l-container　コンテンツの内枠
		l-contents　H1見出し区切り

////////////////////////////////////////////////////*/



/* ------------------------------------------------
	l-frame
------------------------------------------------ */
.l-frame{
	margin:0 auto ;
	position:relative;
	width:var(--cn-width);
	@include media(sp){
		width:var(--cn-sp-width);
	}
	.l-local & {
		max-width:var(--local-max-width);
		@include media(sp){
			width:100%;
		}
	}
}


.l-container{
	width:100%;
	max-width:var(--contents-max-width);
	margin: 100px auto 180px auto;
 	@include flexbox;
	@include flex-justify-content($justify:center);
	column-gap:40px;
	@include media(sp){
		margin-bottom:100px;
	}
	// .l-top & {
	// 	max-width:var(--cn-max-width);
	// }
	.l-local & {
		margin: 74px auto 120px auto;
		&.related{
			display:block;
			margin:0 auto 180px auto;
		}
	}
}


.l-contents{
	width:100%;
	// margin-top:100px;
	.l-local & {
		&.related{
			margin-top: 60px;
		}
		@include media(sp){
			padding:0 3em;
			@include box-sizing;

		}
		&:last-child{
			margin-bottom:0;
		}
	}
	@include media(sp){
		margin-top:80px;

	}
}

.l-entry{
	margin: 20px auto 0px auto;
	width:100%;
	max-width:var(--cn-max-width);
    .l-local & {
    	width: 100%;
    	@include flexbox;
		@include flex-justify-content($justify:center);
		@include flex-direction($direction:column);
		margin: 0px auto;
		@include media(sp){
			margin-bottom:30px;
			width: 90%;
		}
    }
}

.l-entry-inner {
	width:80%;
	max-width:calc(var(--local-max-width)*0.8);
	@include flex-self($align: center);
	margin-top:80px;
	@include media(sp){
		width:88%;
		max-width:100%;
	}
}

.l-entry-info{
	// margin-top:20px;
	.category-tag{
		margin-top:20px;
	}
}





.l-section{
	width:100%;
	max-width:var(--contents-max-width);
	@include flexbox;
	@include flex-justify-content($justify:center);
	// @include flex-direction($direction:row);
	column-gap:40px;
	margin:0 auto;
	@include media(tablet){
		column-gap:0;
	}
	@include media(sp){
		column-gap:0;
		margin-bottom:80px;
	}
}





/* ------------------------------------------------
  記事ページここから
------------------------------------------------ */

.contents-box{
  max-width:880px;
  width:100%;
  background:var(--bg-color03);
  margin-top:0;
  border-radius: 0 0 6px 6px;
  background:var(--bg-color03);
  padding:0 4rem 8rem 4rem;
  @include box-sizing;
  &.colum1{
  	max-width:100%;
  }
  @include media(tablet){
  	max-width:100%;
  }
  @include media(sp){
  	max-width:100%;
  	padding-bottom:50px;
  }
  .entry{
  	padding-top:40px;
  }
}

.table-of-content{
	display:none;
	@include media(tablet){
		display:block;
		padding: 0 4rem;
		margin-top:40px;
		padding-bottom:0;
	}
  @include media(sp){
		display:block;
		padding: 0 3rem;
		margin-top:40px;
		padding-bottom:0;
  }
}

.c-box{
  letter-spacing: .5em;
	 font-feature-settings: "palt";
	 margin-bottom:120px;
	 &:first-child{
	 	margin-top:60px;
	 }
	 &:last-child{
	 	margin-bottom:0;
	 }
	 @include media(sp){
	 	padding:0 3rem;
	 }
	 img{
		width:100%;
	 }
}
.entry-img{
	margin-top: 30px;
  img{
	 width:100%;
	 border-radius: 6px 6px 0 0;
  }
}

/* ------------------------------------------------
	
------------------------------------------------ */
.box-content{
	@include flexbox;
	background:var(--bg-color03);
}

.box-item{
	@include flexbox;
	@include flex-direction($direction:column);
	@include flex-align($align: stretch);
	.box-img{
		width:100%;
		img{
			width:100%;
		}
	}
	.box-info{
		@include flexbox;
		@include flex-direction($direction:column);
		padding:2rem 1.5rem;
		row-gap:15px;
		.date{
			font-size:var(--fSize-7);
			color:var(--font-color03);
		}

	}
	.box-txt{
		.box-tit{
			font-size:var(--fSize);
		}
	}
}





.boxImg {
	@include media(sp){
		img {
			width: 100%;
			height: auto;
		}
	}
}

.boxTxt {
	@extend %clearfix;
}


#contents{
	width:100%;
	margin:0 auto;

}




/* ------------------------------------------------
	使い回し
------------------------------------------------ */

.category-tag{
	a {
		// background-color:var(--bg-color01);
		padding:.3rem 1.2rem .3rem 2.4rem;
		border-radius:12px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 7px 5px;
		display:inline-block;
		position:relative;
		background-image: url("/wp-content/themes/custom/img/common/icon-cate.svg");
		background-repeat: no-repeat;
		background-size:13px 13px;
	}
	a.car {
			background-color:var(--bg-car);					
	}
	a.asp {
			background-color:var(--bg-asp);
	}
}


/* ------------------------------------------------
	#contentsエリアここから
------------------------------------------------ */
#contents {
	width:100%;
	@include media(sp){
		overflow:hidden;
		position: relative;
	}
}


/* ------------------------------------------------
	.wrapper コンテツの外枠
------------------------------------------------ */
.wrapper {
	max-width:1440px;
	margin:0 auto;
	position: relative;
	padding:0 5rem;
	margin-bottom: 0;
	@include media(sp){
		width: 100%;
		padding: 0;
	}
}

/* ------------------------------------------------
	.container コンテンツの枠　大見出しで区切る場合
------------------------------------------------ */
.container {
	width: 100%;
	margin: 5px auto 160px auto;
	// padding: 0 2%;
	display: block;
	@include box-sizing;
	// @extend %clearfix;
	@include media(tablet){
		min-width: 100%;
	}
	@include media(sp){
		min-width: 100%;
		width:100%;
		padding: 0 3rem;
		@include box-sizing();
		margin: 80px auto 40px auto;
	}
	@include media(spS){
		margin: 50px 0 0 0;
	}
	&.noSpace {
		padding: 0;
	}
	&.top {
		margin-bottom:0px;
		margin-top:0px;
	}
	&.top-space{
		margin-top:0px;
	}
	&:first-child{
		margin-top:0;
	}
}

.container-inner {
	width: 78.6%;
	// margin: $spaceL auto 160px auto;
	// padding: 0 2%;
	display: block;
	@include box-sizing;
	@extend %clearfix;
	@include media(tablet){
		min-width: 870px;
	}
	@include media(sp){
		min-width: 100%;
		width:100%;
		padding: 0 4%;
		@include box-sizing();
		margin: 50px auto 40px auto;
	}
	@include media(spS){
		margin: 50px 0 0 0;
	}
	&:first-child {
		margin-top: 0;
	}
	&.noSpace {
		padding: 0;
	}
}


.container-outer {
	width: 100%;
	@include box-sizing;
	&.style01{
	}
	&.style02{}
}


/* ------------------------------------------------
	.boxContent containerの内側でコンテツつを区切る場合
------------------------------------------------ */
.content{
	width: 100%;
	@include box-sizing;
	.edit & {
		margin-bottom:120px;
		@include media(sp){
			margin-bottom:60px;
		}
		&:last-child{
			margin-bottom:160px;
			@include media(sp){
				margin-bottom:40px;
			}
		}
	}
}


/* ------------------------------------------------
	.innerシリーズここから
------------------------------------------------ */
.inner01 {
	padding: 0 ;
}
/* ------------------------------------------------
	.sectionシリーズここから
------------------------------------------------ */
.section {
	// margin-bottom: $spaceLL;
	// padding: 0 $spaceR;
	@extend %clearfix;
	&:last-child {
		margin-bottom: 0;
	}
	@include media(sp){
	
	}
	@include media(spS){

	}
}







