@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用レイアウト（レイアウトセット参照）
		ここではレイアウトに関わるスタイルのみ記載し、
		背景色や背景画像、ボーダー、シャドウなどのデザインバリエーションは、
		_pattern.scss内に継承クラスで指定すること
		（例：.wrapper01.style01）
		l-header
		l-header-inner 内側の枠
		l-header-outer　外側の枠

		l-frame > l-container > l-contents > l-box

		l-frame コンテンツ部分の大枠　ページタイトルとコンテンツの区切り
		l-container　コンテンツの内枠
		l-contents　H1見出し区切り

////////////////////////////////////////////////////*/



/* ------------------------------------------------
	l-frame
------------------------------------------------ */
.l-frame{
	margin:0 auto ;
	position:relative;
	width:var(--cn-width);
	@include media(sp){
		width:var(--cn-sp-width);
	}
	.l-local & {
		max-width:var(--local-max-width);
		@include media(sp){
			width:100%;
		}
	}
}


.l-container{
	width:100%;
	max-width:var(--contents-max-width);
	margin: 100px auto 180px auto;
 	@include flexbox;
	@include flex-justify-content($justify:center);
	column-gap:40px;
	@include media(sp){
		margin: 40px auto 100px auto;
		column-gap:0;
	}
	.l-local & {
		margin: 74px auto 120px auto;
		@include media(sp){
			margin: 30px auto 20px auto;
			background:var(--bg-color03);
		}
		&.related{
			display:block;
			margin:0 auto 180px auto;
			@include media(sp){
				margin:40px auto 20px auto;
				padding:30px 0;
			}
		}
	}
}


.l-contents{
	width:100%;
	.l-local & {
		&.related{
			margin-top: 60px;
			@include media(sp){
				margin-top: 30px;
			}
		}
		@include media(sp){
			width:var(--cn-sp-width);
			@include box-sizing;
			margin: 0 auto;
		}
		&:last-child{
			margin-bottom:0;
		}
	}
	@include media(sp){
		margin-top:0px;

	}
}

.l-entry{
	margin: 20px auto 0px auto;
	width:100%;
	max-width:var(--cn-max-width);
    .l-local & {
    	width: 100%;
    	@include flexbox;
		@include flex-justify-content($justify:center);
		@include flex-direction($direction:column);
		margin: 0px auto;
		@include media(sp){
			margin-bottom:30px;
			width: 90%;
			display:none;
		}
    }
}

.l-entry-inner {
	width:80%;
	max-width:calc(var(--local-max-width)*0.8);
	@include flex-self($align: center);
	margin-top:80px;
	@include media(sp){
		width:88%;
		max-width:100%;
	}
}

.l-entry-info{
	// margin-top:20px;
	.category-tag{
		margin-top:20px;
	}
}





.l-section{
	width:100%;
	max-width:var(--contents-max-width);
	@include flexbox;
	@include flex-justify-content($justify:center);
	// @include flex-direction($direction:row);
	column-gap:40px;
	margin:0 auto;
	@include media(tablet){
		column-gap:0;
	}
	@include media(sp){
		width:var(--cn-sp-width);
		column-gap:0;
		margin-bottom:40px;
	}
}





/* ------------------------------------------------
  記事ページここから
------------------------------------------------ */
.l-entry-info{
	time{
		font-size:var(--fSize-5);
		margin-top:20px;
	}
}

.contents-box{
  width:100%;
  background:var(--bg-color03);
  margin-top:0;
  border-radius: 0 0 3px 3px;
  background:var(--bg-color03);
  padding:0 4rem 8rem 4rem;
  @include box-sizing;
  &.colum1{
  	max-width:100%;
  }
  @include media(tablet){
  	max-width:100%;
  }
  @include media(sp){
  	max-width:100%;
  	padding-bottom:50px;
  	padding:0 0 0 0;
  }
  .entry{
  	padding-top:40px;
  }
	// &:last-child{
	// 	.c-box{
 //  		margin-bottom:0;
 //  	}
 //  }
}

.table-of-content{
	display:none;
	@include media(tablet){
		display:block;
		padding: 0 4rem;
		margin-top:40px;
		padding-bottom:0;
	}
  @include media(sp){
		display:block;
		padding: 0 3rem;
		margin-top:40px;
		padding-bottom:0;
  }
}

.c-box{
  letter-spacing: .2em;
	 font-feature-settings: "palt";
	 margin-bottom:120px;
	 position:relative;
	 font-size:var(--fSize-2);
	 &:first-child{
	 	margin-top:60px;
	 	@include media(sp){
	 		margin-top:30px;
	 	}
	 }
	 &:last-of-type{
	 	margin-bottom:0;
	 }
	 @include media(sp){
	 	padding:0 .8rem;
	 	margin-bottom:80px;
	 }
	 // img{
		// width:100%;
	 // }
	 	.tb-notice{
		position:absolute;
		right: 0;
		top:90px;
		z-index:5;
		@include media(sp){
			top:58px;
			font-size:var(--fSize-4);
			width:92%;
			left:2%;
		}
	}
	// &.intro{
	// 	margin-bottom:120px;
	// }
	// &:last-child{

 //  		margin-bottom:0;
  	
 //  }	
}

.c-box-inner{
	margin-bottom:80px;
	.c-box &{
		&:last-child{
			margin-bottom:0;
		}
	}
	@include media(sp){
		margin-bottom:60px;
	}
}



.entry-img{
	margin-top: 30px;
  img{
	 width:100%;
	 border-radius: 3px 3px 0 0;
  }
}


.breadcrumb-sp{
	display:none;
	@include media(sp){
		display:block;
		width:var(--cn-sp-width);
		margin:0 auto 20px auto;
	}
}
/* ------------------------------------------------
	
------------------------------------------------ */
.l-grid{
	&>.box-content{
		@include flexbox;
		background:var(--bg-color03);
	}
	.related &{
		.box-info{
			@include media(sp){
				padding:1rem 0 0 0;
			}
		}
	}
}
.box-item{
	@include flexbox;
	@include flex-direction($direction:column);
	@include flex-align($align: stretch);
	background:var(--bg-color03);
	.box-img{
		width:100%;
		img{
			width:100%;
		}
	}
	.box-info{
		@include flexbox;
		@include flex-direction($direction:column);
		padding:2rem 1.5rem;
		row-gap:15px;
		@include media(sp){
			padding:2rem 1.5rem;
		}
		.date{
			font-size:var(--fSize-7);
			color:var(--font-color03);
		}

	}
	.box-txt{
		.box-tit{
			font-size:var(--fSize);
			@include media(sp){
				font-size:var(--fSize-3);
			}
		}
	}
}





.boxImg {
	@include media(sp){
		img {
			width: 100%;
			height: auto;
		}
	}
}

.boxTxt {
	@extend %clearfix;
}


#contents{
	width:100%;
	margin:0 auto;

}




/* ------------------------------------------------
	使い回し
------------------------------------------------ */

.category-tag{
	a {
		background-color:var(--thema-color01);
		padding:.3rem 1.2rem .3rem 2.4rem;
		border-radius:12px;
		// background-size: cover;
		// background-repeat: no-repeat;
		// background-position: 7px 5px;
		display:inline-block;
		position:relative;
		color:var(--font-color02);
		// background-repeat: no-repeat;
		// background-size:13px 13px;
		
	  &:before{
	  	content:'';
	  	background-image: url("/wp-content/themes/custom/img/common/icon-cate.svg");
			background-repeat: no-repeat;
			position: absolute;
			width:13px;
			height:13px;
			left:8px;
			top:5px;
			// filter:var(--svg-color02);
	  }
	}
	// a.car {
	// 		background-color:var(--bg-car);					
	// }
	// a.asp {
	// 		background-color:var(--bg-asp);
	// }
}


.flame-box{
	background:var(--bg-color06);
	padding:20px;
	// border:1px solid var(--border-color03);
	position: relative;
	border-radius: 0px 3px 3px 3px;
	&.point{
		background:none;
		border:2px solid var(--thema-color01);
		width:100%;
		margin:80px 0 40px 0;
		@include box-sizing;
		@include media(sp){
			width:100%;
		}
	}
	&.conclude{
		background:none;
		border:2px solid var(--thema-color01);
		margin:0 0 40px 0;
    display: grid;
    
    border-radius: 0px 0px 3px 3px;
		@include media(sp){
			border-radius: 0px 0px 3px 3px;
		}
		&.hikaku-point{
			justify-content: center;
		}
	}
	&.pac{
		width:100%;
		border-radius: 0px 0px 3px 3px;
		@include box-sizing;
		@include flexbox;
		@include flex-align($align: center);
		@include flex-justify-content($justify:center);
		@include flex-direction($direction:column);
		background:#fff;
		padding:35px 20px;
		border:1px solid var(--border-color05);
		@include media(sp){
			padding:20px 15px 20px 25px;
			@include flex-align($align: flex-start);
		}
		li{
			margin-bottom:18px;
			font-size:var(--fSize2);
			font-weight:bold;
			padding-left: 15px;
			position: relative;
				@include media(sp){
					font-size:var(--fSize);
					margin-bottom:12px;
					padding-left: 12px;
				}
			&:before {
				content: '';
				background-image: url("/wp-content/themes/custom/img/common/icon02.svg");
				background-repeat: no-repeat;
				background-size: 15px 15px;
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 5px;
				left: -15px;
				filter: var(--svg-color02);
				@include media(sp){
					left:-12px;
					top:6px;
					background-size: 13px 13px;
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.f-txt{
		font-size:var(--fSize);
		font-weight:bold;
	}
}

.flame-box-tit{
	  background:var(--thema-color01);
	  color: #fff;
	  font-weight:bold;
	  border-radius: 3px 3px 0px 0px;
	  font-size: var(--fSize);
	  line-height: 1;
	  letter-spacing: 0.2em;
	  display:inline-block;
	  // text-indent:-20px;
	  @include box-sizing;
	  &:before{
	  	content:'';
	  	position:relative;
			background-repeat: no-repeat;
			background-size: cover;
			display:inline-block;
			// filter: var(--svg-color01);
	  }
		&.pac{
			  padding: 15px 20px; 
			  font-size: var(--fSize4);
			  width:100%;
			  text-align:center;
			  text-indent:-15px;
			  &:before{
			  	background-image: url("/wp-content/themes/custom/img/common/icon04.svg");
					width:20px;
					height:20px;
					left:-10px;
					top:2px;
					filter: var(--svg-color01);
			  }
			  @include media(sp){
			  	text-indent:-20px;
			  	font-size: var(--fSize2);
			  	padding: 8px 20px 8px 42px;
			  	text-align:left;
			  	line-height:1.4;
				  &:before{
						top:3px;
				  }
			  }
		}
		&.point{
				border-radius: 3px 3px 0 0 ;
			  padding:8px 25px 12px 25px; 
			  font-size: var(--fSize2);
			  width:auto;
			  text-align:center;
			  text-indent:0px;
			  position:absolute;
			  top:-42px;
			  left:-2px;
			  &:before{
			  	background-image: url("/wp-content/themes/custom/img/common/icon05.svg");
					width:20px;
					height:20px;
					left:-10px;
					top:1px;
					filter: var(--svg-color01);
			  }
		}
		&.conclude{
			  padding:8px 25px 8px 40px; 
			  font-size: var(--fSize2);
			  width:auto;
			  text-align:left;
		  	text-indent:-20px;
		  	line-height:1.5;
		  	@include media(sp){
		  		font-size: var(--fSize);
		  		width:100%;
		  		padding:8px 15px 8px 40px;
		  	}
			  &:before{
			  	background-image: url("/wp-content/themes/custom/img/common/icon06.svg");
					width:20px;
					height:20px;
					left:-10px;
					top:3px;
					filter: var(--svg-color01);
					@include media(sp){
						top:4px;
					}
			  }
			  &.off{
			  	&:before{
			  		background-image: url("/wp-content/themes/custom/img/common/icon07.svg");
			  	}
			  }
		}
}

.link-tit{
	color:var(--font-color03);
	margin-bottom:5px;
	&:before,&:after{
		content:'';
		display:inline-block;
		position:relative;
	}
	&:before{
		background:var(--font-color03);
		width:3px;
		height:15px;
		@include rotate($origin: left center, $property: -30deg) ;
		left:-15px;
	}
}

/* ------------------------------------------------
	#contentsエリアここから
------------------------------------------------ */
#contents {
	width:100%;
	@include media(sp){
		overflow:hidden;
		position: relative;
	}
}


/* ------------------------------------------------
	.wrapper コンテツの外枠
------------------------------------------------ */
.wrapper {
	max-width:1440px;
	margin:0 auto;
	position: relative;
	padding:0 5rem;
	margin-bottom: 0;
	@include media(sp){
		width: 100%;
		padding: 0;
	}
}

/* ------------------------------------------------
	.container コンテンツの枠　大見出しで区切る場合
------------------------------------------------ */
.container {
	width: 100%;
	margin: 5px auto 160px auto;
	// padding: 0 2%;
	display: block;
	@include box-sizing;
	// @extend %clearfix;
	@include media(tablet){
		min-width: 100%;
	}
	@include media(sp){
		min-width: 100%;
		width:100%;
		padding: 0 3rem;
		@include box-sizing();
		margin: 80px auto 40px auto;
	}
	@include media(spS){
		margin: 50px 0 0 0;
	}
	&.noSpace {
		padding: 0;
	}
	&.top {
		margin-bottom:0px;
		margin-top:0px;
	}
	&.top-space{
		margin-top:0px;
	}
	&:first-child{
		margin-top:0;
	}
}

.container-inner {
	width: 78.6%;
	// margin: $spaceL auto 160px auto;
	// padding: 0 2%;
	display: block;
	@include box-sizing;
	@extend %clearfix;
	@include media(tablet){
		min-width: 870px;
	}
	@include media(sp){
		min-width: 100%;
		width:100%;
		padding: 0 4%;
		@include box-sizing();
		margin: 50px auto 40px auto;
	}
	@include media(spS){
		margin: 50px 0 0 0;
	}
	&:first-child {
		margin-top: 0;
	}
	&.noSpace {
		padding: 0;
	}
}


.container-outer {
	width: 100%;
	@include box-sizing;
	&.style01{
	}
	&.style02{}
}


/* ------------------------------------------------
	.boxContent containerの内側でコンテツつを区切る場合
------------------------------------------------ */
.content{
	width: 100%;
	@include box-sizing;
	.edit & {
		margin-bottom:120px;
		@include media(sp){
			margin-bottom:60px;
		}
		&:last-child{
			margin-bottom:160px;
			@include media(sp){
				margin-bottom:40px;
			}
		}
	}
}


/* ------------------------------------------------
	.innerシリーズここから
------------------------------------------------ */
.inner01 {
	padding: 0 ;
}
/* ------------------------------------------------
	.sectionシリーズここから
------------------------------------------------ */
.section {
	// margin-bottom: $spaceLL;
	// padding: 0 $spaceR;
	@extend %clearfix;
	&:last-child {
		margin-bottom: 0;
	}
	@include media(sp){
	
	}
	@include media(spS){

	}
}

.single{
	display:grid;
	justify-content:center;
	align-items:center;
	background:#e76c3c;
	position:relative;
	img{
		width:70%;
		text-align:center;
		margin:0 auto;
		z-index:2;
		@include media(sp){
			width:100%;
		}
		@include media(tablet){
			width:100%;
		}
	}
	&:after{
		content:'';
		display:inline-block;
		background:#0f4768;
		width:50%;
		position:absolute;
		right: 0;
		height:100%;
		z-index:1;
	}
}







