@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用リンク

////////////////////////////////////////////////////*/

/* ------------------------------------------------
	gnav
------------------------------------------------ */
@include media(pc){
	.link-gnav{
		position:relative;
		&:after{
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			content: '';
			width: 22px;
			height: 22px;
			margin: -12px 0 0 -12px;
			border-radius: 50%;
			border: 1px solid #cfcfcf;
			transition: all .1s;
			opacity: 0;
		}
		&:hover {
			cursor: pointer;
			&:after{
				@include animation(circle .5s);
				@include keyframes(circle){
					0% {
						transform: scale(.1);
						opacity: 0;
					}
					50% {
						opacity: 1;
					}
					100% {
						transform: scale(2.0);
						opacity: 0;
						display:none;
					}
				}
			}
		}
	}
}

/* ------------------------------------------------
	ベース設定
------------------------------------------------ */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
a {
	text-decoration: none;
	//マウスオーバーの設定
	&.img-eff{

		&:hover {
		}
	}
	@include media(pc){
		&:before{

		}
		&:hover {
			cursor:pointer;
			// color:$fontColor01;
		}
	}
	&:link {
		// color:$fontColor01;
	}
	&:visited {
	}
}

/* ------------------------------------------------
	テキストリンク
------------------------------------------------ */
/* インラインリンク */
a.link01 {
	position:relative;
	
	@include media(pc){
		@include transition($property: all, $time: 0.4s, $timing: cubic-bezier(0, 0.01, 0, 1.02));
		&:hover {
			cursor:pointer;
			@include opacity(0.6);
			// &:after{
			// 	width:100%;
			// }
		}
	}
}

// 記事内インラインリンク
a.link02 {
	@include transition($property: all, $time: 0.4s, $timing: cubic-bezier(0, 0.01, 0, 1.02));
	padding-bottom:3px;
	border-bottom:1px solid var(--font-color01);
	// color:var(--thema-color01);
	color:var(--font-color01);
	@include media(pc){
		&:hover {
			// @include opacity(0.6);
			color:var(--thema-color01);
			cursor:pointer;
			border-bottom:1px solid var(--thema-color01);
		}
	}
}

// テキストのカラー変更のみ
a.link03 {
	@include transition($property: all, $time: 0.4s, $timing: cubic-bezier(0, 0.01, 0, 1.02));
	color:var(--font-color01);
	@include media(pc){
		&:hover {
			color:var(--thema-color01);
			cursor:pointer;
		}
	}
}



/*　ブロックリンク　*/
@include media(pc){
.linkBl01 {
	overflow:hidden;
	display:block;
	// @include transition($property: all, $time: 0.8s, $timing: cubic-bezier(0, 0.58, 0.67, 1.02));
		img{
			@include transition($property: all, $time: 0.4s, $timing: cubic-bezier(0.77, 0, 1, 1));
		}
		&:hover {
			cursor:pointer;
			img{
				@include scale($property: 1.1);
			}
		}
	}
}


.linktxtBlock01 {
	display:inline-block;
	a{
		@include transition($property: all, $time: 0.6s, $timing: cubic-bezier(0, 0, 0.2, 1));
		color:var(--font-color01);
		border-bottom:1px solid var(--font-color01);
		padding-bottom:3px;
		&:before{
			@include transition($property: all, $time: 0.6s, $timing: cubic-bezier(0, 0, 0.2, 1));
			display:inline-block;
			content:'';
			position:relative;
			top:-1px;
		  width: 0;
		  height: 0;
			border-style:solid;
			border-width: 5px 0 5px 8px;
			border-color: transparent transparent transparent var(--font-color01);
			margin-right:8px;
		}
	}
	@include media(pc){
	&:hover {
			cursor:pointer;
			a{
				border-bottom:1px solid var(--bg-color07);
				color:var(--bg-color07);
				&:before{
					border-color: transparent transparent transparent var(--bg-color07);
				}
			}
		}
	}
}

/* ------------------------------------------------
	ボタン
------------------------------------------------ */
.btn01 {
	color:var(--font-color02);
	text-align: center;
	border-radius:5px;
	@include transition($property: all, $time: 0.6s, $timing: cubic-bezier(0, 0.58, 0.67, 1.02));
	&>a
	{
		@include transition;
		color:var(--font-color02);
		display:inline-block;
		text-align: center;
		width:100%;
		padding:10px 0;
	}
	&:hover {
		cursor:pointer;
		@include opacity(0.6);
	}
	&.type01 {
		margin:0 auto;
		width:90%;
	}

}

.btn-type01{
	@include flexbox;
	// @include flex-direction($direction:row);
	@include flex-justify-content($justify:center);
	@include box-sizing;
	width:80%;
	margin:20px auto;
	border:2px solid var(--bg-color07);
	border-radius:5px;
	background:var(--bg-color07);
	color:var(--font-color02);
	@include transition($property: all, $time: 0.6s, $timing: cubic-bezier(0, 0.58, 0.67, 1.02));
		position:relative;
		&:before,&:after{
			@include transition($property: all, $time: 0.6s, $timing: cubic-bezier(0, 0.58, 0.67, 1.02));
			content:'';
			display:inline-block;
			position:absolute;
			background:var(--bg-color03);
			width:8px;
			height:2px;
			border-radius:5px;
		}
		&:before{
			right:12px;
			top:23px;
			@include rotate($origin: left center, $property: 33deg);
		}
		&:after{
			right:12px;
			bottom:25px;
			@include rotate($origin: left center, $property: -33deg);
		}
	@include media(sp){
		width:100%;
	}
	a{
		font-size:var(--fSize);
		@include transition($property: all, $time: 0.6s, $timing: cubic-bezier(0, 0.58, 0.67, 1.02));
		font-weight:bold;
		@include box-sizing;
		// border:2px solid var(--thema-color01);
		padding:16px 20px;

	}
	@include media(pc){
		&:hover {
			cursor:pointer;
			background:var(--bg-color03);
			border:2px solid var(--bg-color07);
			&:before,&:after{
				background:var(--bg-color07);
			}
			a{
			color:var(--bg-color07);
			}
		}
	}
}


/* ------------------------------------------------
	sns 
------------------------------------------------ */

a.sns-btn{
	@include flexbox;
	@include flex-align($align: center);
	@include flex-justify-content($justify:center);
	// display:inline-block;
	border-radius:50%;
	position:relative;
	width:100%;
	height:100%;
	img{
		position:relative;
		z-index:2;
	}
	&:before{
		content:'';
		@include transition($property: all, $time: .5s, $timing: cubic-bezier(0, 0.49, 0.05, 0.99));
		width:36px;
		height:36px;
		border-radius:50%;
		position:absolute;
		top:0;
		left:0;
	}
	&:hover{
		&:before{
			display:inline-block;
			z-index:1;
			@include scale($property: 1.2); 
		}
	}
	.f-link-sns & {

		&:before{
			content:'';
			@include transition($property: all, $time: .5s, $timing: cubic-bezier(0, 0.49, 0.05, 0.99));
			width:24px;
			height:24px;
			border-radius:50%;
			position:absolute;
			top:0;
			left:0;
		}
	}
}

a.sns-btn-c01{
	background:var(--bg-color02);
	&:before{
		background:var(--bg-color02);
	}
}
