@charset "utf-8";
/*////////////////////////////////////////////////////

	その他の汎用スタイル

////////////////////////////////////////////////////*/

/* ------------------------------------------------
	デバイスごとの表示切り分け
	例： <br class="pc">
------------------------------------------------ */
.pc {
	@include media(sp){
		display: none;
	}
}
.sp {
	@include media(pc){
		display: none;
	}
}

/* ------------------------------------------------
	color
------------------------------------------------ */
.thema-color{
	color:var(--font-color04);
}
/* ------------------------------------------------
	囲み枠
------------------------------------------------ */
.enclosure01 {
	background:var(--bg-color01);
	padding:25px;
	border-radius:5px;
}

/* ------------------------------------------------
	強調テキスト
------------------------------------------------ */
.emphasis01{
	font-weight:bold;
	font-size:var(--fSize2);
}

/* ------------------------------------------------
	ボーダー
------------------------------------------------ */
.border01{
	border-top:solid 3px var(--thema-color01);
}


/* ------------------------------------------------
	背景
------------------------------------------------ */
.bg-w{
	background:var(--bg-color03);
}

.bg-thema{
	background:var(--thema-color01);
}

.bg-car{
	background:var(--car-bace-color);
}
/* ------------------------------------------------
	画像スタイル
------------------------------------------------ */
.img_style01 {
	
}

/* ------------------------------------------------
	タブ
------------------------------------------------ */
.tab01 {
	
}
/* ------------------------------------------------
	スペース
------------------------------------------------ */
.space-topXL{
	margin-top:80px;
	@include media(sp){
		margin-top:40px;
	}
}

.space-mt-20{
	margin-top:20px;
}

.space-mt-40{
	margin-top:40px;
}

.space-mt-60{
	margin-top:60px;
}
.space-mb-30{
	margin-bottom:30px;
}
.space-mb-80{
	margin-bottom:80px;
	@include media(sp){
		margin-bottom:30px;
	}
}
.space-mt-80{
	margin-top:80px;
}
/* ------------------------------------------------
	回転
------------------------------------------------ */
.rotate{
	@include rotate($origin: center center, $property: 90deg);
	display:block;
	margin-right: 4px;
}


.hyphen{
	background:#e6bbac;
	width:10px;
	height:3px;
	display:inline-block;
	position:relative;
	top:-8px;
	&.margin{
		margin-bottom:5px;
	}
}
.circle{
	position:relative;
	display:inline-block;
	// background:var(--car-bg-color03);
	border:2px solid var(--thema-color01);
	width:18px;
	height:18px;
	border-radius:50%;
	@include box-sizing;
	&.margin{
		margin-bottom:5px;
	}
}
.triangle{
	background:var(--thema-color01);
	width:18px;
	height:2px;
	display:inline-block;
	position:relative;
	margin-bottom:5px;
	&:before,&:after{
		content:'';
		position:absolute;
		display:inline-block;
		// border-right:1px solid #ecae98;
		height:16px;
	}
	&:before{
		border-left:2px solid var(--thema-color01);
		left:4px;
		top:-13px;
		@include rotate($origin: center center, $property: 35deg);
	}
	&:after{
		border-right:2px solid var(--thema-color01);
		right:4px;
		top:-13px;
		@include rotate($origin: center center, $property: -35deg);
	}
}





