@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用スタイルパターン（レイアウトセット参照）
		ここでは_layout.scssなどで用意したレイアウトパターンに適用する
		スタイルのバリエーション(背景色や背景画像、ボーダー、シャドウなど)を継承クラスとして指定してください。
		例：
			.wrapper01,
			.wrapper02 {
				&.style01 {

				}
				&.style02 {

				}
			}

////////////////////////////////////////////////////*/

.ico-circle{
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;/* 50%でもOK */
	-moz-border-radius: 50%;
	border-radius: 50%;
	// background-color: $baseColor01;/* 円の色 */
}

.bg-w{
	background:var(--bg-color03);
}

.bg-{
	background:var(--thema-color01);
}

.border01{
	border-top:solid 3px var(--thema-color01);
}

.bg-car{
	background:var(--car-bace-color);
}



.b-small{
	font-size:var(--fSize-6);
	display:block;
}
.i-small{
	font-size:var(--fSize-6);
}
.space-mt-20{
	margin-top:20px;
}

.space-mt-40{
	margin-top:40px;
}

.space-mt-60{
	margin-top:60px;
}