@charset "utf-8";
/*////////////////////////////////////////////////////

	汎用テーブル 
		※入れ子にした際に孫のテーブルにスタイルが引き継がれないよう、
		　　&>を使用したスタイル設定を推奨

////////////////////////////////////////////////////*/
/* ------------------------------------------------
	テーブル
------------------------------------------------ */
/*ベーシックなテーブルスタイル*/

.tb-box{
	position:relative;
	top:-20px;
}


#fix{
	height:70px;
	position:fixed;
	top:0;
	width:100%;
	z-index:-10;
}

.tb_basic01 {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	white-space:nowrap;
	&>thead>tr {
		&:first-child{
			&>th{
				border:none;
				background:#fff;
				width:200px;
			}
		}
		&:nth-of-type(2){
			&>th{
				height:50px;
				&:first-child{
					background:#fff;
				}
			}
		}
		&>th{
			 border: solid 1px #fff;
			 padding:10px 15px;
			 font-size:var(--fSize);
			 text-align:center;
			 vertical-align:middle;
			 background:#53b9dd;
			 color:#fff;
			 // height:100px;
			 // width:250px;
		}
		&>td{
			 border: solid 1px#d1d1d1;
		}
	}
	&>tbody>tr,
	&>tr{
		&>th{
			border: solid 1px #fff;
			// text-align:left;
			padding: 10px 20px 10px 20px;
			font-size:var(--fSize-2);
			vertical-align:middle;
			background:#f7f7f7;
			// width:330px;
		}
		&>td {
			border-left: solid 1px #f2f2f2;
			border-right: solid 1px #f2f2f2;
			text-align:center;
			vertical-align:middle;
			font-size:var(--fSize-3);
			padding:15px;
			white-space:nowrap;
		}				
	}
	&>tbody>tr{
		&>td{
			&:nth-of-type(even){
				background:#f5f9fb;
				border: solid 1px #fff;
			}
			&:nth-of-type(odd){
				border: solid 1px #f9f9f9;
			}
		}
	}





	&>tbody>tr>th{
		 // width:300px;
	}

	.th-in-f{
		font-size:var(--fSize-6);
		font-weight:normal;
		letter-spacing:.1rem;
	}
	.th-w{
		// width:300px !important;
		// table-layout:initial !important;
		padding: 10px 30px 10px 30px !important;
	}

	.th-w-r{
		width:125px !important;
		padding: 10px 8px 10px 8px !important;
	}

	.notice-type-top{
		font-size:var(--fSize-6);
		display:block;
		letter-spacing:.1em;
		// margin-top:5px;
	}
	.notice-type-bottom{
		font-size:var(--fSize-6);
		display:block;
		margin-bottom:8px;
		letter-spacing:.1rem;
	}
	.notice-i{
		font-size:var(--fSize-6);
		display:inline-block;
		position:relative;
		top:-4px;
		letter-spacing:.1rem;
	}
	.th-width{
		width:250px;
		// display:inline-block;
	}
}













/*装飾のないシンプルなテーブル*/
.tb_simple01 {
	width: auto !important;
	border: none !important;
	background: none !important;
	&>tr{
		&>th,
		&>td {
			text-align: left !important;
			vertical-align: top !important;
			width: auto !important;
			border: none !important;
			background: none !important;
			padding: 0 !important;
			margin: 0 !important;
		}
		&>th {
			white-space: nowrap;
			padding-right: 1em;
		}
	}
}

div.scroll_div { overflow: auto; }












