@charset "utf-8";
/*////////////////////////////////////////////////////

	テキスト、見出しの汎用スタイル

////////////////////////////////////////////////////*/

/* ------------------------------------------------
	テキスト
------------------------------------------------ */







/* ------------------------------------------------
	見出し
------------------------------------------------ */

.nav-title{
	font-size:var(--fSize10);
}


.tit-01{
	@include flexbox;
	@include flex-justify-content($justify:center);
	font-size:var(--fSize12);
	position:relative;
	letter-spacing:.3em;
	text-indent: .3em;
}

.l-entry-title{
	font-size:var(--font-entry);
	@include flex-self($align: center);
	font-feature-settings: "palt";
	letter-spacing: .25em;
	position:relative;
	line-height: 1.8;
	@include media(sp){
		font-size:var(--fSize9);
	}

}

.c-tit02{
	font-size:var(--fSize7);
	margin-bottom:4rem;
	// margin-top:4em;
	// border-top:2px solid var(--thema-color01);
	border-bottom:2px solid var(--border-color01);
	padding-bottom:.3em;
	text-indent:0em;
}

.c-tit03{
	font-size:var(--fSize5);
	border-left: solid 5px var(--border-color01);
	text-indent:.5em;
	margin-bottom:1em;
	margin-top:50px;
}
.c-tit04{
	font-size:var(--fSize2);
	margin-top:30px;
	margin-bottom:.5em;

}

.c-txt{
	font-size:var(--fSize);
	margin-bottom:1em;
	line-height:1.8;
}

.bold{
	font-weight:bold;
}

.c-box{
	.c-txt{
		&:last-child{
			margin-bottom:0;
		}
	}
}

