@charset "utf-8";
/*////////////////////////////////////////////////////

	テキスト、見出しの汎用スタイル

////////////////////////////////////////////////////*/

/* ------------------------------------------------
	テキスト
------------------------------------------------ */







/* ------------------------------------------------
	見出し
------------------------------------------------ */

.nav-title{
	font-size:var(--fSize10);
}


.tit-01{
	@include flexbox;
	@include flex-justify-content($justify:center);
	font-size:var(--fSize12);
	position:relative;
	letter-spacing:.3em;
	text-indent: .3em;
}

.l-entry-title{
	font-size:var(--font-entry);
	@include flex-self($align: center);
	font-feature-settings: "palt";
	letter-spacing: .25em;
	position:relative;
	line-height: 1.8;
	@include media(sp){
		font-size:var(--fSize9);
	}

}

.c-tit02{
	font-size:var(--fSize8);
	margin-bottom:4rem;
	// margin-top:4em;
	// border:1px solid var(--thema-color01);
	border-bottom:3px solid var(--border-color01);
	padding:.5rem .5rem;
	text-indent:0em;
	font-weight:bold;
	position:relative;
	z-index:5;
	// background:#ffece5;

	&:after{
		content:'';
		background:var(--thema-color01);
		position:absolute;
		// border:1px solid var(--thema-color01);
		bottom:-3px;
		left: 0px;
		width:20%;
		height:3px;
		z-index:1;
	}
}

.c-tit03{
	font-size:var(--fSize5);
	text-indent:1em;
	margin-bottom:1em;
	margin-top:60px;
	position:relative;
	&:before{
		content:'';
		// border-left: solid 5px var(--thema-color01);
		background: var(--thema-color01);
		position:absolute;
		top:0;
		left:0;
		display:inline-block;
		width:5px;
		height:30px;

	}
}
.c-tit04{
	font-size:var(--fSize2);
	margin-top:30px;
	margin-bottom:.5em;

}

.c-txt{
	font-size:var(--fSize);
	margin-bottom:1em;
	line-height:2.0;
}

.bold{
	font-weight:bold;
}

.c-box{
	.c-txt{
		&:last-child{
			margin-bottom:0;
		}
	}
}

.f-bold{
	font-weight:bold;
}


.txt-large{
	font-size:var(--fSize);
}
.txt-notice{
	font-size:var(--fSize-4);
}
.txt-line{
	background:linear-gradient(transparent 80%,#ffe27e 0%);
}

.txt-line-thema{
	background:linear-gradient(transparent 60%,var(--thema-color01) 0%);
}

.c-tit05{
	position: relative;
    margin: 40px auto 15px auto;
    padding: 1.5rem;
    border: 3px solid var(--bg-color02);
    text-align: center;
    font-weight:bold;
    font-size:var(--fSize);
    &:before{
		content: '';
	    position: absolute;
	    border: 12px solid transparent;
	    top: 100%;
	    left: calc(50% - 12px);
	    border-top: 12px solid var(--bg-color02);
    }
    &:after{
		content: '';
	    position: absolute;
	    border: 12px solid transparent;
	    top: 100%;
	    left: calc(50% - 12px);
		margin-top: -4px;
	    border-top: 12px solid #fff;
    }
}

.txt-border{
	border:2px solid var(--bg-color02);
	padding:5px 20px;
	margin-top:10px;
	border-radius:5px;
}






