@charset "utf-8";
/*////////////////////////////////////////////////////

	テキスト、見出しの汎用スタイル

////////////////////////////////////////////////////*/

/* ------------------------------------------------
	テキスト
------------------------------------------------ */

.b-small{
	font-size:var(--fSize-6);
	display:block;
}
.i-small{
	font-size:var(--fSize-6);
}





/* ------------------------------------------------
	見出し
------------------------------------------------ */

.nav-title{
	font-size:var(--fSize10);
}


.tit-01{
	@include flexbox;
	@include flex-justify-content($justify:center);
	font-size:var(--fSize12);
	position:relative;
	letter-spacing:.3em;
	text-indent: .3em;
	@include media(sp){
		font-size:var(--fSize4);
	}
}

.l-entry-title{
	font-size:var(--font-entry);
	@include flex-self($align: center);
	font-feature-settings: "palt";
	letter-spacing: .25em;
	position:relative;
	line-height: 1.5;
	@include media(sp){
		font-size:var(--fSize9);
		line-height: 1.2;

	}

}

.c-tit02{
	font-size:var(--fSize8);
	margin-bottom:5rem;
	// margin-top:4em;
	// border:1px solid var(--thema-color01);
	border-bottom:3px solid var(--thema-color02);
	padding:.5rem .5rem;
	text-indent:0em;
	font-weight:bold;
	position:relative;
	z-index:5;
	@include media(sp){
		font-size:var(--fSize4);
		margin-bottom:3rem;
		padding:.2rem 0rem;
	}

	&:after{
		content:'';
		background:var(--thema-color01);
		position:absolute;
		// border:1px solid var(--thema-color01);
		bottom:-3px;
		left: 0px;
		width:20%;
		height:3px;
		z-index:1;
	}
}

.c-tit03{
	font-size:var(--fSize5);
	text-indent:.1rem;
	margin-bottom:3rem;
	// margin-top:6rem;
	position:relative;
	padding-left:15px;
	line-height:1.5;
	&:before{
		content:'';
		// border-left: solid 5px var(--thema-color01);
		background: var(--thema-color01);
		position:absolute;
		top:0;
		left:0;
		display:inline-block;
		width:5px;
		height:100%;

	}
	@include media(sp){
		margin-bottom:2rem;
		font-size:var(--fSize2);
	}
}
.c-tit04{
	font-size:var(--fSize2);
	margin-top:30px;
	margin-bottom:.5em;

}

.c-tit-base{
	font-size:var(--fSize4);
	text-align:center;
	position:relative;
	background:var(--bg-color03);
	margin-bottom:25px;
	@include media(sp){
		font-size:var(--fSize);
	}
	&:before{
		content:'';
		top: calc(51% - 1px);
		// display:inline-block;
		position:absolute;
		// background:var(--border-color01);
		height:1px;
		width:100%;
		left:0;
		// border-bottom: 1px dashed var(--bg-color01);
		background-image : linear-gradient(to right, #454545, #454545 2px, transparent 2px, transparent 8px); 
		background-size: 8px 2px;          
		background-position: left bottom; 
		background-repeat: repeat-x;      
	}
	span{
		position:relative;
		padding:0 1.5em;
		background:var(--bg-color03);
		display:inline-block;
		text-align:center;
		@include media(sp){
			line-height:1.4;
			top:-2px;
		}
	}
}

.c-txt{
	font-size:var(--fSize);
	margin-bottom:1.6em;
	line-height:2;
	@include media(sp){
		margin-bottom:1.4em;
		line-height:1.9;
		font-size:var(--fSize-2);
		// .bold{
		// 	font-weight:normal;
		// }

	}
}

.bold{
	font-weight:bold;
}

.c-box{
	.c-txt{
		&:last-child{
			margin-bottom:0;
		}
	}
}

.f-bold{
	font-weight:bold;
}


.txt-large{
	font-size:var(--fSize);
}
.txt-notice{
	font-size:var(--fSize-4);
	text-indent: -1.3rem;
	padding-left:1.3rem;
	display:inline-block;
	&.type01{
		margin-bottom:30px;
	}
}
.txt-line{
	background:linear-gradient(transparent 70%, #fdf5af 0%);
	padding: 0 0.3rem .2rem 0.3rem;
}

.txt-line-thema{
	background:linear-gradient(transparent 60%,var(--thema-color01) 0%);
}

.c-tit05{
	position: relative;
    margin: 40px auto 15px auto;
    padding: 1.5rem;
    border: 3px solid var(--bg-color02);
    text-align: center;
    font-weight:bold;
    font-size:var(--fSize);
    border-radius:5px;
    @include box-sizing;
    width:100%;
    &:before{
		content: '';
	    position: absolute;
	    border: 12px solid transparent;
	    top: 100%;
	    left: calc(50% - 12px);
	    border-top: 12px solid var(--bg-color02);
    }
    &:after{
		content: '';
	    position: absolute;
	    border: 12px solid transparent;
	    top: 100%;
	    left: calc(50% - 12px);
		margin-top: -4px;
	    border-top: 12px solid #fff;
    }
}

.txt-border{
	border:2px solid var(--bg-color02);
	padding:5px 20px;
	margin-top:10px;
	border-radius:3px;
	background:var(--bg-color03);
}

.c-tit-base-shoki{
	position:absolute;
	font-size:var(--fSize4);
	text-align:center;
	left:0;
	right:0;
	top:-19px;
	span{
		background:var(--bg-color03);
		padding:0 20px;
	}
}

.enclosure01-tit{
	font-size:var(--fSize);
	font-weight:bold;
	margin-bottom: 5px;
}


.c-tit-compaer{
	// border:1px solid var(--thema-color01);
	padding:25px 0;
	width:100%;
	font-size:var(--fSize2);
	text-align:center;
	@include box-sizing;
	border-radius:3px;
	@include transition($property: all, $time: 0.2s, $timing: cubic-bezier(0, 0.01, 0, 1.02));
	@include media(sp){
		font-size:var(--fSize-2);
		padding:15px 0;
	}
	span{
		position:relative;
		display:inline-block;
		&:after{
			content:'';
			display:inline-block;
			transform: rotate(135deg);
			position:absolute;
			@include transition($property: all, $time: 0.2s, $timing: cubic-bezier(0, 0.01, 0, 1.02));
			width: 10px;
			height: 10px;
			border-top: solid 3px var(--border-color01) ;
			border-right: solid 3px var(--border-color01);
			right:-30px;
			top: calc(50% - 10px);
			@include media(sp){
				width: 7px;
				height: 7px;
				top: calc(50% - 8px);
			}
		}
	}
	&.show{
		color:var(--thema-color01);
		span{
			&:after{
				transform: rotate(-45deg);
				border-color: var(--thema-color01) var(--thema-color01) transparent transparent;
				top: calc(50% - 4px);
				@include media(sp){
					top: calc(50% - 4px);
				}
			}
		}
		@include media(pc){
			&:hover{
				span{
					&:after{
						top: calc(50% - 7px);
					}
				}
			}
		}

	}
	@include media(pc){
		&:hover{
			cursor:pointer;
			color:var(--thema-color01);
			span{
				&:after{
					border-color: var(--thema-color01) var(--thema-color01) transparent transparent;
					top:8px;
				}
			}
		}
	}
}

